<div class="page page-profile" data-ng-controller="competition-view">

    <header class="profile-header">
        <div class="row">
            <ul class="list-inline">
                <li><a ui-sref="region-view({regionId: competition.region.id})">{{competition.region.name}}</a></li> > 
                <li>{{competition.title}}</li>
            </ul>
            <span class="btn btn-danger pull-right" ng-click="edit(competition.id)">Editar</span>
        </div>
        <div class="row">
            <div class="col-md-3 col-lg-3">
                <img ng-src="http://images.collab-dev.com/300x/smart/slam/{{competition.cover_photo}}" class="img-rounded img-responsive">
            </div>
            <div class="col-md-9 col-lg-9">
                <h2>{{competition.title}}</h2>
            </div>
        </div>

        <div class="profile-info">
            <ul class="list-unstyled list-inline">
                <li><span class="btn" ng-click="showParticipants()"><i class="fa fa-users"></i> Participantes <span class="text-muted">({{competition.users.length}})</span></span></li>
                <li><span class="btn" ng-click="showVideos()"><i class="fa fa-video-camera"></i> Videos <span class="text-muted">({{competition.videos.length}})</span></span></li>
                <li><span class="btn" ng-click="showCups()"><i class="fa fa-bookmark"></i> Copas y Menciones </span> </li>
            </ul>
        </div>
    </header>


    <div class="panel panel-default" data-ng-controller="competition-participants" data-ng-if="show_participants">
        <div class="panel-header">
            <h2 class="section-header">Participantes</h2>
        </div>
        <div class="panel-body">
            <div class="col-md-12">
                <table class="table table-bordered table-striped table-responsive">
                    <thead>
                        <tr>
                            <th><div class="th">
                                Username
                            </div></th>
                            <th><div class="th">
                                Apellido - Nombre
                            </div></th>
                            <th><div class="th">
                                
                            </div></th>
                            <th><div class="th">
                                <span class="btn btn-primary " ng-click="addParticipant()">Agregar</span>
                            </div></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="participant in participants">
                            <td>{{participant.username}}</td>
                            <td>{{participant.lastname}} {{participant.name}}</td>
                            <td></td>
                            <td><span class="btn btn-primary" ng-click="viewParticipant(participant.id)">Ver</span></td>
                        </tr>
                    </tbody>
                </table>

                <footer class="table-footer">
                    <div class="row">
                        <div class="col-md-6 page-num-info">
                            <span>
                                Show 
                                <select data-ng-model="numPerPage"
                                        data-ng-options="num for num in numPerPageOpt"
                                        data-ng-change="onNumPerPageChange()">
                                </select> 
                                entries per page
                            </span>
                        </div>
                        <div class="col-md-6 text-right pagination-container">
                            <pagination class="pagination-sm"
                                        ng-model="currentPage"
                                        total-items="filteredStores.length"
                                        max-size="4"
                                        ng-change="select(currentPage)"
                                        items-per-page="numPerPage"
                                        rotate="false"
                                        previous-text="&lsaquo;" next-text="&rsaquo;"
                                        boundary-links="true"></pagination>
                        </div>
                    </div>
                </footer>
            </div>


        </div>
    </div>
 

    <div class="panel panel-default" data-ng-controller="competition-videos" ng-if="show_videos">
        <div class="panel-header">
            <h2 class="section-header">Videos</h2>
            <span class="btn btn-primary pull-right" ng-show="!search_videos" ng-click="showSearch()">Agregar Videos</span>
            <div class="row" ng-show="search_videos">
                <div class="form-group col-md-8">
                    <label class="sr-only" for="searchinput">Búsqueda Videos</label>
                    <input type="text" class="form-control col-md-12" id="searchinput" ng-model="query" placeholder="Ingresá palabras claves" ng-enter="search()">
                </div>
                <span class="btn btn-primary" ng-click="search()">Buscar</span>
                <span class="btn btn-default" ng-click="cancelSearch()">Cancelar</span>
            </div>

        </div>
        <div class="panel-body">
            <div class="row col-md-12" ng-show="search_videos">
                <div class="col-md-4" ng-repeat="video in videos_result.results" style="padding-bottom: 5px, cursor: pointer;" ng-hide="video.picked">
                    <div class="ih-item ih-material">
                        <a ng-click="addVideo(video)">
                            <div class="img">
                                <img ng-src="{{thumbnail(video)}}" alt="">
                            </div>
                            <div class="info">
                                <div class="info-mask bg-primary"></div>
                                <div class="info-content">
                                    <div class="info-inner">
                                        <h3>ID: {{video.id.videoId}}</h3>
                                        <p>{{video.snippet.description}}</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>                            
                </div>
            </div>
            <div class="row col-md-12 bg-dark">
                <div class="col-md-{{editingParticipants ? '8' : '4'}}" ng-repeat="video in videos"  data-ng-controller="video-controller" ng-if="!video.removed">
                    <div class="card bg-white">
                        <div class="card-image">
                            <img ng-src="{{video.thumb_path}}">
                            <span class="card-title">{{video.name}}</span>
                        </div>
                        <div class="card-content" style="padding-top: 5px; min-height: 100px;">
                            <div ng-hide="editingParticipants">
                                <ul class="list-group">
                                    <li ng-repeat="participant in video.users" class="list-group-item">
                                        <span class="badge badge-danger" ng-click="removeParticipant(participant)" style="cursor: pointer;">X</span>
                                        {{participant.username}}
                                    </li>
                                </ul>
                            </div>
                            <div ng-show="editingParticipants">
                                <div class="ui-typeahead">
                                    <input type="text" 
                                        ng-model="participant_selected" 
                                        typeahead="participant for participant in participants_to_add | filter:$viewValue | limitTo:8" class="form-control" placeholder="Buscar...">
                                </div> 

                            </div>
                        </div>
                        <div class="card-action">
                            <span ng-hide="editingParticipants" class="btn btn-primary block-center" ng-click="assignParticipants()">Asignar</span>
                            <span ng-hide="editingParticipants" class="btn btn-default block-center" ng-click="removeVideo()">Quitar</span>
                            <span ng-show="editingParticipants" class="btn btn-success block-center" ng-click="addParticipant()">Agregar</span>
                            <span ng-show="editingParticipants" class="btn btn-default block-center" ng-click="cancelEditing()">Cancelar</span>
                        </div>
                    </div>            

                </div>            
            </div>            

        </div>
    </div>
 
    <div class="panel panel-default" data-ng-controller="competition-cups" ng-if="show_cups">
        <div class="panel-header">
            <h2 class="section-header">Copas</h2>
        </div>
        <div class="panel-body">
            <div class="col-md-12" ng-hide="editingCup">
                <table class="table table-bordered table-striped table-responsive">
                    <thead>
                        <tr>
                            <th><div class="th">
                                Nombre
                            </div></th>
                            <th><div class="th">
                                Descripcion
                            </div></th>
                            <th><div class="th">
                                
                            </div></th>
                            <th><div class="th">
                                <span class="btn btn-primary " ng-click="newCup()">Crear Nueva</span>
                            </div></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="cup in cups">
                            <td>{{cup.name}}</td>
                            <td>{{cup.description}}</td>
                            <td>{{cup.icon}}</td>
                            <td><span class="btn btn-primary" ng-click="editCup(cup.id)">Editar</span></td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="col-md-12" ng-show="editingCup">
                <form name="cup_form" class="form-validation" novalidate data-ng-submit="submitForm()">
                    <div class="form-group">
                        <label for="">Nombre</label>
                        <input  type="text" class="form-control" required data-ng-model="cup.name" >
                    </div>
                    <div class="form-group">
                        <label for="">Descripción</label>
                        <textarea class="form-control" rows="10" data-ng-model="cup.description"></textarea>
                    </div>

                    <button type="submit"
                            ui-wave
                            class="btn btn-primary btn-w-md"
                            data-ng-disabled="!canSubmit()"
                            >Guardar</button>
                    <button class="btn btn-default btn-w-md"
                            ui-wave
                            data-ng-click="revert()"
                    >Cancelar</button>
                </form>
            </div>



        </div>
    </div>

    <div class="panel panel-primary" data-ng-controller="competition-mentions" ng-if="show_cups">
        <div class="panel-header">
            <h2 class="section-header">Menciones</h2>
        </div>
        <div class="panel-body">
            <div class="col-md-12" ng-hide="editingMention">
                <table class="table table-bordered table-striped table-responsive">
                    <thead>
                        <tr>
                            <th><div class="th">
                                Nombre
                            </div></th>
                            <th><div class="th">
                                Descripcion
                            </div></th>
                            <th><div class="th">
                                
                            </div></th>
                            <th><div class="th">
                                <span class="btn btn-primary " ng-click="newMention()">Crear Nueva</span>
                            </div></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="mention in mentions">
                            <td>{{mention.name}}</td>
                            <td>{{mention.description}}</td>
                            <td>{{mention.icon}}</td>
                            <td><span class="btn btn-primary" ng-click="editMention(mention)">Editar</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-12" ng-show="editingMention">
                <form name="mention_form" class="form-validation" novalidate data-ng-submit="submitForm()">
                    <div class="form-group">
                        <label for="">Nombre</label>
                        <input  type="text" class="form-control" required data-ng-model="mention.name" >
                    </div>
                    <div class="form-group">
                        <label for="">Descripción</label>
                        <textarea class="form-control" rows="10" data-ng-model="mention.description"></textarea>
                    </div>

                    <button type="submit"
                            ui-wave
                            class="btn btn-primary btn-w-md"
                            data-ng-disabled="!canSubmit()"
                            >Guardar</button>
                    <button class="btn btn-default btn-w-md"
                            ui-wave
                            data-ng-click="revert()"
                    >Cancelar</button>
                </form>
            </div>


        </div>
    </div>
 
 
</div>


